/* @settings

name: JGantts Conlang
id: jgantts-conlang
settings:
    -
        id: jgantts-conlang-accents-title
        title: Text Accent
        type: heading
        level: 1
    -
        id: conlang-accent
        title: Conlang
        type: variable-themed-color
        opacity: false
        format: rgb
        default-light: rgb(41, 124, 59)
        default-dark: rgb(99, 193, 116)
    -
        id: ipa-accent
        title: IPA
        type: variable-themed-color
        opacity: false
        format: rgb
        default-light: rgb(12, 119, 146)
        default-dark: rgb(0, 194, 215)
    -
        id: parseerr-accent
        title: Error
        type: variable-themed-color
        opacity: false
        format: rgb
        default-light: rgb(205, 43, 49)
        default-dark: rgb(255, 99, 105)
*/

.theme-light {
  --conlang-accent-final: var(--conlang-accent, rgb(41, 124, 59));
  --ipa-accent-final: var(--ipa-accent, rgb(12, 119, 146));
  --parseerr-accent-final: var(--parseerr-accent, rgb(205, 43, 49));
}

.theme-dark {
  --conlang-accent-final: var(--conlang-accent, gb(99, 193, 116));
  --ipa-accent-final: var(--ipa-accent, rgb(0, 194, 215));
  --parseerr-accent-final: var(--parseerr-accent, rgb(255, 99, 105));
}

/*
Tables
*/
body {
  --table-column-first-border-width: 0;
  --table-column-last-border-width: 0;
  --table-header-border-width: 0;
  --table-row-last-border-width: 0;
  --table-header-border-width: 0;
}


.markdown-preview-view td,
.markdown-preview-view th {
  border-right-color: transparent;
  border-left-color: transparent;

}

.markdown-rendered table {
  margin: 1.5em 0;
}

.markdown-rendered thead tr > th {
  --table-header-border-color: #00000000;
  border-bottom: inherit;
}


/*
Accents
*/
.conlang-accent {
  --font-text: 'Junicode';
  font-family: 'Junicode';
  font-weight: 400;
  --table-text-color: var(--conlang-accent-final);
  color: var(--conlang-accent-final);
}

.ipa-accent {
  --font-text: 'Inter';
  font-family: 'Inter';
  font-weight: 100;
  --table-text-color: var(--ipa-accent-final);
  color: var(--ipa-accent-final);
}

.parseerr-accent {
  font-weight: 700;
  --table-text-color: var(--parseerr-accent-final);
  color: var(--parseerr-accent-final);
}

.jgantts-nowrap {
  white-space: nowrap;
}

.cm-embed-block.markdown-rendered .block-language-dataview th, .cm-embed-block.markdown-rendered .block-language-dataview td, .markdown-rendered table th, .markdown-rendered table td, .markdown-rendered .table-view-table th, .markdown-rendered .table-view-table td {
  padding: 0.6em !important;
}

.cm-embed-block.markdown-rendered .block-language-dataview, .markdown-rendered table, .markdown-rendered .table-view-table {
  width: initial !important;
}